page-login {
	.logo {
		height: 140px;
		background: color($colors, green);
		text-align: center;
		position: relative;
		p {
			margin: auto;
		    color: white;
		    font-size: 20px;
		    padding-top: 16px;
		    margin-bottom: 10px;
		}
		img {
			height: 80px;
		}
	}
	.remember-login {
		margin-top: -10px;
		ion-checkbox {
			margin-right: 16px !important;
		}
		.item-inner {
			border: none !important;
		}
	}
	.btn-register {
		margin-left: 20px;
    	text-decoration: underline;
	}
	.input-text {
		.label {
			color: #333;
		}
	}
}
