page-item-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
    .date, .time, .phone, .price {
      margin-bottom: 4px;
      margin-top: 6px;
      img {
        height: 20px;
        width: 20px;
        margin-right: 6px;
        position: relative;
        top: 4px;
      }
    }
    .description {
      border: 1px solid #ddd;
      padding: 16px 4px;
      border-radius: 4px;
      background: #f7f7f7;
    }
  }
}

