page-profile {
	ion-icon {
		color: #3c3c3c;
	}

	ion-col {
		ion-label {
			float: left;
		}
	}

	.item-custom {
		margin-left: 10px;
		border-bottom: 1px solid #ddd;
		ion-label {
			font-size: 16px;
			width: 60px;
		}
		input {
			border: 1px solid #ddd;
		    margin: 0;
		    height: 40px;
		    padding: 6px;
		    font-size: 16px;
		    border-radius: 4px;
		}
		ion-toggle {
			margin-top: 4px !important;
		}
	}

	.upload-avatar {
		button {
			 position: relative;
		    top: -40px;
		    margin-right: 10px;
		}
		img {
			height: 80px;
		}
		ion-label {
			margin-bottom: 0;
		}
	}
}
