<ion-header>

  <ion-navbar color="green">
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <ion-list>
    <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
      <ion-avatar item-start>
        <img [src]="item.profilePic" />
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <p>{{item.about}}</p>
      <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
    </button>
  </ion-list>
  <ion-list>
  <ion-item>
    <ion-label>Province</ion-label>
    <ion-select [(ngModel)]="province" (ionChange)="selectProvince(province)">
      <ion-option value="{{province.provinceid}}" *ngFor="let province of provinces">{{province.name}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>District</ion-label>
    <ion-select [(ngModel)]="district">
      <ion-option value="{{district.districtid}}" *ngFor="let district of districts">{{district.name}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>From</ion-label>
    <ion-input type="tel"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>To</ion-label>
    <ion-input type="tel"></ion-input>
  </ion-item>
</ion-list>
</ion-content>