page-list-master {
	.list-master {
		padding: 6px;
		.item-master {
			border: 1px solid #ddd;
			margin-bottom: 6px;
			border-radius: 4px;
			.item-inner {
				border: none;
				.time {
					font-size: 13px;
					margin-top: 4px;
					img {
						height: 16px;
					    top: 3px;
					    position: relative;
					    margin-right: 4px;
					}
				}
			}
			.price {
				position: absolute;
			    right: 6px;
			    top: 16px;
			    color: #FF9800;
			    font-weight: bold;
			}
			.information {
				margin-top: 10px;
				clear: both;
				p {
					color: black;
				}
				.price {
					color: #f5a81c;
    				font-weight: bold;
    				span {
    					font-weight: 400;
    				}
				}
			}
			.item-header {
				overflow: auto;
				.avatar {
					border-radius: 50%;
					height: 60px;
					float: left;
					margin-right: 10px;
				}
			}
			.item-group-button {
				position: absolute;
			    right: 0px;
			    top: 4px;
			}
			.item-toolbar {
				margin-top: 4px;
				margin-left: -2px;
				.btn-custom {
					display: inline-block;
					color: yellow;
				}
			}
		}
	}
}
